
__pycache__/
*.py[cod]
*$py.class


*.so


dist/
build/
*.egg-info/
*.egg

venv/
env/
ENV/
.env/
.venv/


htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover


.ipynb_checkpoints


.vscode/
.idea/
*.swp
*~


*.log
*.sqlite3

.env


.prof

*.manifest
*.spec


.mypy_cache/


.pyre/
